# TODO : Auto detect project type and append corresponding gitignore content <18-05-13 19:37, Wenxuan> #
snippet idea "for idea" b
# For intellij idea
.idea/*
!.idea/dictionaries/
/target
/out
*.iml

endsnippet

snippet gradle "for gralde" b
# For gradle
.gradle
build/

endsnippet

snippet maven "for maven" b
# For gradle
target/

endsnippet

snippet k8s "for k8s" b
# For k8s
k8s/.*
endsnippet
