snippet py "#!/usr/bin/env python" b
#!/usr/bin/env python
endsnippet

snippet py3 "#!/usr/bin/env python3" b
#!/usr/bin/env python3
endsnippet

snippet py2 "#!/usr/bin/env python2" b
#!/usr/bin/env python2
endsnippet

snippet pr "print('...')" b
print('$1')
endsnippet
