snippet sdir "script dir" b
sdir = __dir__
endsnippet

snippet spath "script path" b
spath = Pathname.new(__dir__)
endsnippet

snippet var "#{variable}"
#{${VISUAL}}$0
endsnippet

snippet Var "#{variable} with quote"
"#{${VISUAL}}"$0
endsnippet

snippet backtrace "log backtrace..." b
$logger.error "#{e.class} (#{e.message}):" + e.backtrace.reduce(''){ |trace, line| trace << "\n\t[Backtrace] -- #{line}" }
endsnippet
