snippet t "A simple HTML tag" b
<${1:div}>
	Hello World
</$1>
endsnippet

snippet todo "This is a TODO reminder" b
<!-- TODO: ${1:desc} `!v strftime("%c")` -->
endsnippet

snippet mit "Insert my mit license" b
MIT (c) Wenxuan Zhang
https://wfxr.mit-license.org
endsnippet
