priority 1

snippet hascmd "If command exists..."
(( $+commands[${1:cmd}] )) && ${2:Do something $1}
endsnippet

snippet better_ll "Create common header" b
(( $+commands[exa] )) && ll='exa -lbhg --git ${1:--time-style long-iso} ${2:--color=always}' || ll='ls -l $1 $2'
endsnippet

snippet default "Set default program" b
export ${1:EDITOR}="\${commands[${2:vim}]:-\$$1}"
endsnippet
