# Put it to /etc/systemd/system
[Unit]
Description=Fucking GFW

[Service]
User=wenxuan
Type=simple
ExecStart=/home/wenxuan/bin/sss
Restart=on-failure
StartLimitInterval=30

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
